.bgblur{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: aqua;
    filter: blur(250px);
    right: 0;
}
.glass{
    /* From https://css.glass */
background: rgba(211, 38, 38, 0.485);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(255, 255, 255, 0.16);
}